{% extends 'base.html' %}
{% load static %}
{% block middle_section %}

<div class="col-xl-5 shadow mx-auto p-0 border border-info outer" style="background-color: rgba(255, 255, 255, 0.7);">
	<div class="alert alert-info mx-auto "><h2 class="bt-cst">Update</h2></div>
	<div class="p-4">
		<form method="POST">
			{% csrf_token %}
			<table class="s-table">
				{{form.as_table}}
			</table>
			<div class = "text-center">
                <button type="submit" class="btn btn-info btn-cst">
                    <h2>Submit</h2>
                </button>
            </div>
		</form>
	</div>
</div>

{% endblock middle_section %}
